:root {
  --red: red;
  --black: #231f20;
}
.title-effect::before {
  content: "/";
  position: absolute;
  color: var(--red);
  font-size: 2rem;
  font-weight: bolder;
  transform: rotateX(63deg);
  top: -13px;
}
.title-effect::after {
  content: "/";
  position: absolute;
  color: var(--red);
  bottom: -3px;
  right: -15px;
  font-size: 2rem;
  font-weight: bolder;
  transform: rotateX(67deg);
}
.container {
  width: 70% !important;
}
.card {
  border-radius: 0 !important;
  border: none !important;
}
/* Navbar Start */
.navbar-brand i {
  color: var(--red);
  font-size: 2rem !important;
}
.gradient-text {
  background-image: linear-gradient(to top, var(--red) 30%, var(--black) 70%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  font-size: 2rem;
  font-weight: bold;
  color: transparent;
}
.navbar-nav .nav-item .nav-link {
  color: var(--black);
  font-weight: 500;
}
.navbar-nav .nav-item .nav-link.active {
  color: var(--red);
  border-bottom: 3px solid var(--red);
  width: 70%;
  display: flex;
  justify-content: center;
}
/* Navbar End */
/* Hero Section Start */
#hero {
  height: 100vh;
  background-image: url(../images/hero.jpg);
  background-position: center;
  background-size: cover;
}
#hero form {
  bottom: 6rem;
  background-color: rgba(0, 0, 0, 0.7);
  border-left: 4px solid var(--red) !important;
}
#hero form input[type="date"]::-webkit-calendar-picker-indicator {
  cursor: pointer;
  filter: invert(1);
}
#hero input::-webkit-datetime-edit-day-field:focus,
#hero input::-webkit-datetime-edit-month-field:focus,
#hero input::-webkit-datetime-edit-year-field:focus {
  background-color: var(--red);
  color: white;
}
#hero form button {
  background-color: var(--red);
  border: none;
  padding: 0.75rem 3.25rem;
  margin-top: 0.5rem;
}
/* Hero Section End */

/* About-us Sectioc Start */
#about-us {
  width: 80%;
  margin: auto;
}
.about-us-image {
  height: 70vh;
  background-image: url(../images/about-us.jpg);
  background-position: center;
  background-size: cover;
  background-color: red;
}
/* About-us Sectioc End */

/* Blog Section Start */
#blog {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url(../images/blog.jpg);
  background-position: center;
  background-size: cover;
  height: 100vh;
  .card h6 {
    color: var(--red);
  }
  .card p {
    font-size: 1rem;
  }
}
/* Blog Section End */
/* Contact US Section Start */
.form-shadow {
  box-shadow: rgba(245, 99, 99, 0.2) 2px 1px 4px 1px;
  margin-bottom: 1rem;
}
/* Contact US Section End */
